@use "../../scss/" as *;

.Profile {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: #272525;
}

.card-profile {
    margin-top: calc($header-height + 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.info {
    display: flex;
    flex-direction: column;
    background: gray;
    padding: 1rem;
    padding-right: 6rem;
    border-radius: $border-radius;
    text-align: left;
}

.info-name,
.info-email {
    display: flex;
    flex-direction: column;
}