$body-bg: #fff;
$main-color: #ff0000;
$txt-color: #fff;

$white: #fff;
$black: #000;

$header-height: 5rem;
$border-radius: 10px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
